body{
    background-color: black;
    color: white
}

#grey{
    background-color: grey;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

#black{
    background-color: black;
}

#purple{
    background-color: purple;
}